<!doctype html>
<html lang="vi">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>KARAOKE NHẠC QUÂN ĐỘI</title>

  <!-- CSS -->
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>

  <!-- TOPBAR -->
  <header class="topbar">
    <div class="sidebar">
      <button id="homeBtn" class="sidebar-btn">🏠 Trang chủ</button>
    </div>
  </header>

  <!-- APP -->
  <div class="app">

    <!-- SIDEBAR PLAYLIST -->
    <aside class="sidebar">
      <h2>Danh sách bài hát</h2>
      <div class="playlist" id="playlist">
        <!-- JS render -->
      </div>
    </aside>

    <!-- VIDEO PLAYER -->
    <div class="video-wrapper" id="videoWrapper" style="display:none;">
      <video id="videoPlayer" width="100%" controls preload="metadata">
        <source id="videoSrc" src="" type="video/mp4">
        Trình duyệt không hỗ trợ video.
      </video>
    </div>

  </div>

  <!-- JS -->
  <script src="../public/js/script.js"></script>
</body>

</html>
